<% if (errors && errors.length) { %>
  <div class="bg-red-800 border border-red-600 text-red-100 rounded p-6 mb-8">
    <h3 class="font-semibold mb-2">Por favor corrige los siguientes errores:</h3>
    <ul class="list-disc list-inside ml-4 space-y-1 text-sm">
      <% errors.forEach(err => { %>
        <li><%= err.msg %></li>
      <% }) %>
    </ul>
  </div>
<% } %>
