<!-- views/partials/footer.ejs -->
<footer class="bg-[#2a2a2a] px-4 py-2 md:py-3 text-center">
  <p class="text-gray-400 text-sm md:text-base">
    © <%= new Date().getFullYear() %> - Superhéroes App
  </p>
  <p class="flex justify-center items-center gap-2 mt-1">
    <i class="ph ph-graduation-cap text-gray-400 text-sm sm:text-base"></i>
    <span class="text-gray-400 text-xs sm:text-sm">Diplomatura Fullstack</span>
  </p>
</footer>
